@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;

}

.section-m1 {
  margin: 40px 0;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white{
  font-size: 15px;
  font-weight: 600;
  padding: 11px 18px;
  color: #f0f0f0;
  background-color: transparent;
 
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

#header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0,0, 06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar{ /*one line ke liye  */
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a ;
}
#navbar li a:hover{ /*button ke upr jate hi color change */
  color: aqua;
   transition: 0.5s ease; 
}
#navbar li a:hover,
#navbar li a.active{
  color: rgb(80, 205, 161);
}
#navbar li a.active::after,
#navbar li a:hover::after{ /* home side ke buttons pr jayeneg to hover hoga under line ka */
  content: "";
  width: 30%;
  height: 2px;
  background: #192216;
  position: absolute;
  bottom: -4px;
  left:20px;
}

#hero{
  background-image: url(img/hero4.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% left 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 15px;
}
#hero h1{
  color: rgb(59, 90, 80);
}
#hero button{
background-image:  url("img/button.png");
background-color: transparent;
color: #465b52;
border:  0;
padding: 14px 80px 14px 65px;
background-repeat: no-repeat;
cursor: pointer;
font-weight: 700;
font-size: 15px;
}
#feature{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box{
width: 180px;
text-align: center;
padding: 25px 15px;
box-shadow: 20px 20px 34px;
border: 1px solid #1d2961;
border-radius: 4px;
margin: 15px 0;

}
#feature .fe-box:hover{
  box-shadow: 10px 10px 345px;
}

#feature .fe-box  img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: antiquewhite;
  background-color: darkkhaki;
}
#feature .fe-box:nth-child(2) h6{
  background-color: rgb(136, 173, 173);
}
#feature .fe-box:nth-child(3) h6{
  background-color: rgb(66, 63, 120);
}
#feature .fe-box:nth-child(4) h6{
  background-color: rgb(115, 123, 28);
}
#feature .fe-box:nth-child(5) h6{
  background-color: rgb(33, 34, 72);
}
#feature .fe-box:nth-child(6) h6{
  background-color: rgb(75, 158, 93);
}
#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top:20px ;
  flex-wrap: wrap;
}
#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding:  10px 12px;
  border: 1px solid #595f7c;
  border-radius:25px;
  cursor :Pointer;
  box-shadow: 20px 20px 30px rgb(66, 146, 118);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;

}
 #product1 .pro img{
  width: 100%;
  border-radius:20px;
}
#product1 .pro:hover{
  box-shadow: 10px 20px 378px ;
}
#product1 .pro .des{
  text-align: start;
  padding:10px 0; 
}
#product1 .pro .des span{
  color: #081708;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #465b52;
  font-size: 14px
}
#product1 .pro .des i{
  font-size: 12px;
  color: rgb(217, 133, 31);
}
#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight:  700;
  color: rgb(71, 103, 92);

}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #f0f1f5;
  font-weight: 500;
  color: rgb(13, 12, 11);
  bottom: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  color: #e8eee8;
  font-size: 16px;
}
#banner h2{
  color: aliceblue;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span{
  color: #d47507;
}
#banner button:hover{
  background-color: #cfa572;
  color: #f0f0f3;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url(img/banner/b17.jpg);
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2{
   background-image: url(img/banner/b10.jpg);
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2{
  color: #e9fce6;
  font-size: 30px;
  font-weight: 800;
}
#sm-banner span{
  color: #e9fce6;
  font-size: 20x;
  font-weight:700;
  padding-bottom: 50px;
}
#sm-banner .banner-box:hover button{
  background-color: #a2acde;
  border: 1px solid #e3e6f3;
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box2{
  background-image: url("img/banner/b4.jpg");
}
#banner3 .banner-box3{
  background-image: url("img/banner/b18.jpg");
}
#banner3 h2{
  color: #f0f0f0;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3{
  color: #8e0707c1;
  font-weight: 800;
  font-size: 15px;
}

